doctype html
html(lang="en")
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    meta(charset="utf-8")
    title= text.error.title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="copyright", content= text.general.copyright)
    meta(name="description", content= text.general.description)
    meta(name="keywords", content= text.general.keywords)
    meta(name="author", content="Alexei Antipov")

    link(href="/style.css?v1", rel="stylesheet")
    //link(href="/css/font-awesome.css", rel="stylesheet")
    //HTML5 shim
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

    link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
    link(rel="icon", type="image/x-icon", href="/favicon.ico")

  body
    div.container
      .row
        .col-md-6.col-lg-5
          header= text.general.alina
        .col-lg-3.col-md-4.col-md-offset-2.col-lg-offset-4.icons
          a.flag(href=anotherLangUrl)
            i.fa.fa-flag-o
            span=(lang === 'ru' ? 'en' : 'rus')
          a.fb(href="https://www.facebook.com/alinashevyakova")
            i.fa.fa-facebook
          a.mail(href="mailto:ashevyakova@gmail.com")
            i.fa.fa-envelope
      nav
        .row
          .col-sm-4.col-sm-offset-2.col-md-3.col-md-offset-3.text-center
            if type === 'painting' && pageType === 'gallery'
              h1= text.general.painting
            else
              - var activeClass = (type === 'painting' && pageType === 'picture') ? 'active' : '';
              - var url = lang === 'ru' ? '/' : '/en';
              a(href=url, class=activeClass)= text.general.painting
          .col-sm-4.col-md-3.text-center
            if type === 'graphic' && pageType === 'gallery'
              h1= text.general.graphic
            else
              - var activeClass = (type === 'graphic' && pageType === 'picture') ? 'active' : '';
              - var url = lang === 'ru' ? '/graphic' : '/en/graphic';
              a(href=url class=activeClass)= text.general.graphic


        #error
          h1.header= header

          .descr!= descr

    footer.footer.text-center
      p
        | Created by
        a(href="http://alexei.me/")  Alexei Antipov
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/jquery.easing.js")