extends layout

block content
	#gallery-wrapper
		ul#thumbnails.thumbnails
			each info, img in images
				- var suffix = (type === 'graphic') ? '' : text.general.oilOnCanvas + ' ' + info.dims + ' ' + info.year;
				- var linkPrefix = (lang === 'en') ? '/en': '';
				li.span3(data-type="portraits")
					.thumbnail
						img.lazy(src="/img/lazy.png", alt="", data-original=imgUrl + '#{type}/thumb_#{img}.jpg')
						noscript
							// Degrade gracefully
							img(src=imgUrl + '#{type}/thumb_#{img}.jpg', width="640", heigh="480")
						span.caption
							span.descr
								span.title= info[lang]
								br
								= suffix
							span.wrap-links
								a(href= "#{linkPrefix}/#{type}/#{img}", data-title="#{info[lang]} / #{suffix}")
									i.icon-link
								a.lbox(
								href=imgUrl + "#{type}/#{img}.jpg"
								data-title="<p class='text-center'><b>#{info[lang]}</b><span>#{suffix}</span></p>")
									i.icon-zoom-in

block content2
	div.row
		each info, img in images
			- var suffix = (type === 'graphic') ? '' : text.general.oilOnCanvas + ' ' + info.dims + ' ' + info.year;
			- var linkPrefix = (lang === 'en') ? '/en': '';
			div.col-md-3.col-sm-4
				.thumbnail
					img.lazy(src="/img/lazy.png", alt="", data-original=imgUrl + '#{type}/thumb_#{img}.jpg')
					noscript
						// Degrade gracefully
						img(src=imgUrl + '#{type}/thumb_#{img}.jpg', width="640", heigh="480")
					.caption
						.descr
							p.title= info[lang]
							p= suffix
						.links
							a(href= "#{linkPrefix}/#{type}/#{img}", data-title="#{info[lang]} / #{suffix}")
								i.fa.fa-link
							a.lens(
							href=imgUrl + "#{type}/#{img}.jpg"
							data-title="<p class='text-center'><b>#{info[lang]}</b><span>#{suffix}</span></p>")
								i.fa.fa-search-plus