extends layout

block content
  div#gallery-wrapper.row
    each info, img in images
      - var suffix = (type === 'graphic') ? '' : text.general.oilOnCanvas + ' ' + info.dims + ' ' + info.year;
      - var linkPrefix = (lang === 'en') ? '/en': '';
      div.col-lg-3.col-md-4.col-sm-6.col-xs-12
        .thumb
          img.lazy(src="/img/empty.gif", alt="", data-original=imgUrl + '#{type}/thumb_#{img}.jpg')
          noscript
            // Degrade gracefully
            img(src=imgUrl + '#{type}/thumb_#{img}.jpg', width="640", heigh="480")
          .cover(
          href=imgUrl + "#{type}/#{img}.jpg"
          data-title="<span class=\"title\">#{info[lang]}</span><span class=\"suffix\">  #{suffix}</span>")
            .caption
              a(href= "#{linkPrefix}/#{type}/#{img}", data-title="#{info[lang]} / #{suffix}").title= info[lang]
              p= suffix
            .icon
              i.fa.fa-search-plus