extends layout

block content
  - var suffix = (type === 'graphic') ? '' : text.general.oilOnCanvas + ' ' + info['dims'] + ' ' + info['year'];
  - var title = info[lang];
  #picture-wrapper
    .imginfo.text-center
      h2= title
      p= suffix
    .img-wrapper.text-center.loading(data-src=imgUrl + "#{type}/#{image}.jpg", data-alt="#{title}")
      i.fa.fa-circle-o-notch.fa-spin
    noscript
      // Degrade gracefully
      .img-wrapper.text-center
        img(src=imgUrl + "#{type}/#{image}.jpg")
    .fb-like(
    data-href=url,
    data-send="false",
    data-layout="button_count",
    data-width="450",
    data-show-faces="false",
    data-font="arial")