extends layout

block content
  #picture-wrapper
    .imginfo.text-center
      h2= image.title
      p= image.descr
    .img-wrapper.text-center
        img(src=image.url)
    .fb-like(
    data-href=url,
    data-send="false",
    data-layout="button_count",
    data-width="450",
    data-show-faces="false",
    data-font="arial")